body, html {
    height: 100%;
    line-height: 1.2;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    letter-spacing: 0.7pt;
    background-color: hsla(89, 43%, 51%, 0.3);
    color: #fff;
}
.half{
      width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
   background: linear-gradient(black, white);
    overflow: hidden;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.right {
    left: 50%;
    background: #fff;
    color: #000;
}
